<div class="col-lg-12">
  <div class="panel panel-info">
    <div class="panel-heading">Groups</div>
    <div class="panel-body">
      <form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><input type="checkbox" class="cbAll" /></th>
                <th>#</th>
                <th>Group id</th>
                <th>Group name</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
              <% groups.forEach((group, index) => {%>
              <tr value="<%=group.groupId%>" class="itemRow" name="">
                <td><input type="checkbox" name="cid" value="<%=group.groupId%>" /></td>
                <td><%= index + 1 %></td>
                <td><input id="groupId" hidden><%= group.groupId %></input></td>
                <td><input id="groupName" hidden><%= group.groupName%></input></td>
                <td>
                  <a type="button" class="btn btn-info btn-sm" href="/groups/<%=group.groupId%>">Detail</a>
                  <a type="button" class="btn btn-danger btn-sm btn-delete" href="/groups/<%=group.groupId%>/delete">Delete</a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>